.products-cards-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 5px 8px;
}

@media only screen and (max-width: 1024px) {
    /* For mobile phones: */
    .products-cards-container {
        grid-template-columns: repeat(2, 1fr);
    }
  }

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .products-cards-container {
        grid-template-columns: repeat(2, 1fr);
    }
  }

  @media only screen and (max-width: 460px) {
    /* For mobile phones: */
    .products-cards-container {
        grid-template-columns: repeat(1, 1fr);
    }
  }